include README.md
include LICENSE.txt
recursive-include advanced_reports *.html *.png *.gif *js *.css *jpg *jpeg *svg *py
recursive-include advreport_test_project *.html *.png *.gif *js *.css *jpg *jpeg *svg *py
