Django==1.7.2
django-widget-tweaks==1.3
Pygments==2.0.1
-e git+http://github.com/vikingco/django-ajax-utilities.git#egg=django-ajax-utilities
-e git+http://github.com/vikingco/django-progress.git#egg=django-progress
